* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
body {
  position: relative;
}

.header {
  width: 100%;
  height: 8rem;
  position: sticky;
  top: 0;
  left: 0;
  /* background: transparent; */
  z-index: 1;

  background-image: linear-gradient(to right bottom, #0f130db9, #181818b7);
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  /* width: 10rem; */
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 2rem;
  padding: 0 2rem;
}
.logo img {
  height: 5rem;
  widows: 5rem;
  color: #fff;
}
.logo h3 {
  font-size: 2.5rem;
  margin-left: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
}
.list {
  display: flex;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cover {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.801)
    ),
    url("./assets/cover.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: block;
  animation: bg;
  margin-top: -10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  animation-iteration-count: infinite;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}
.cover__text h1 {
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 2rem;

  /* line-height: 1.6rem; */
}
.btn {
  margin: 0 auto;
  background-color: #fff;
  padding: 1.4rem 3rem;
  color: #777 !important;
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  box-shadow: 0 0.5rem 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.7rem);
}
.list__item {
  margin: 0 1rem;
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s;
}
.container {
  width: 100%;
}
.grids {
  margin: 10rem 0;
  padding: 10rem;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* grid-template-rows: repeat(auto, 50rem);
   */
  grid-row-gap: 5rem;
  grid-column-gap: 3rem;
}
.grid__item {
  box-shadow: 0 0.5rem 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
}
.grid__item img {
  width: 100%;
  transition: all 0.3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}
.grid__item img:hover {
  transform: scale(1.1);
}
.content {
  text-align: center;
  padding: 2rem 1rem;
}
.content h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
}
.content button {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, #56ab2f81, #a8e063a4);
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  background-image: linear-gradient(to right, #56ab2f81, #a8e063a4);
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 10rem 0;
  justify-content: center;
  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
}
.footer__nav {
  width: 80%;
}
.footer__list {
  display: flex;
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@keyframes bg {
  0% {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.801)
      ),
      url("./assets/cover.webp");
  }

  25% {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.801)
      ),
      url("./assets/boat.jpg");
  }
  50% {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.801)
      ),
      url("./assets/canada.jpg");
  }
  75% {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.801)
      ),
      url("./assets/desert.jpg");
  }
  100% {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.801)
      ),
      url("./assets/lake.jpg");
  }
}
.f:hover {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}
